/*
	R3 Auto Map Gen.
	styles.css
*/

/*
    Scrollbar
*/
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
	height: calc(100% + 20px);
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    margin: 6px 0px 14px 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #7f74a3;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 4px;
    background: #8a80a9;
}
::-webkit-scrollbar-thumb:active {
    border-radius: 4px;
    background: #b9b1d4;
}

/*
	HTML Tags
*/
body {
	color: #fff;
	overflow: hidden;
	user-select: none;
	font-family: monospace;
	background-color: #0000;
}
input[type="file"] {
	display: none !important;
}
input[id="BTN_CLOSE_MENU_RIGHT"], input[id="BTN_DEV_KB_SH"] {
	margin: 0px 2px 8px 2px !important;
}
input[id="BTN_SELECT_EXE"] {
	margin: 8px 2px 0px 2px !important;
}
select, button, input[type="button"] {
	border: none;
	outline: none;
	cursor: pointer;
	min-height: 24px;
	max-height: 30px;
	white-space: nowrap;
	margin: 0px 2px 0px 2px;
	background-image: linear-gradient(180deg, #fff, #999);
}
select:active, button:active, input[type="button"]:active {
	color: #666a;
	filter: blur(0.6px);
	text-shadow: 0px 0px 10px #0006;
	box-shadow: 0px 0px 8px #000 inset;
	background-image: linear-gradient(0deg, #fff, #999);
}
select:disabled, button:disabled, input[type="button"]:disabled {
	color: #a9a9a9;
	cursor: not-allowed;
	box-shadow: 0px 0px 4px #000 inset;
	background-image: linear-gradient(180deg, #777, #787878);
}
input[type="range"] {
	outline: none;
	cursor: col-resize;
	width: calc(100% - 18px);
	margin: 4px 0px 10px 0px;
}
input[type="checkbox"] {
	cursor: pointer;
	margin-right: 6px;
	vertical-align: middle;
}
img {
	user-select: none;
	-webkit-user-drag: none;
}
svg {
	top: 0px;
	left: 0px;
	z-index: 8;
	width: 100%;
	height: 100%;
	stroke-width: 2px;
	position: absolute;
	stroke-linecap: round;
}
span {
	margin-left: 4px;
	margin-right: 2px;
	white-space: nowrap;
	font-family: monospace;
	text-shadow: 2px 2px 2.8px #000a;
}
label {
	cursor: pointer;
	font-family: monospace;
	text-shadow: 2px 2px 2.8px #000a;
}

/*
	App drag bar
*/
.APP_DRAG_BAR {
	top: 0px;
	left: 0px;
	height: 20px;
	z-index: 100;
	display: flex;
	app-region: drag;
	position: absolute;
	align-items: center;
	white-space: nowrap;
	justify-content: center;
	width: calc(100% - 66px);
	backdrop-filter: blur(4px);
	border-radius: 10px 0px 0px 0px;
	text-shadow: 2px 2px 2.8px #000a;
	background-image: linear-gradient(180deg, #967fcfaa, #706099aa);
}
.APP_DRAG_BAR_ACTIONS {
	top: 0px;
	right: 0px;
	width: 66px;
	height: 20px;
	z-index: 110;
	display: flex;
	overflow: hidden;
	flex-wrap: nowrap;
	position: absolute;
	align-items: center;
	justify-content: center;
	transition-duration: 1.1s;
	backdrop-filter: blur(4px);
	border-top-right-radius: 10px;
	background-image: linear-gradient(180deg, #967fcfaa, #706099aa);
}

/*
	Buttons
*/
.BTN_OPTIONS {
	height: auto;
	width: calc(100% - 20px);
}
.BTN_TOP {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.BTN_BOTTOM {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.BTN_LEFT {
	height: auto;
	margin: 0px !important;
	border-radius: 6px 0px 0px 6px;
}
.BTN_RIGHT {
	height: auto;
	border-radius: 0px 6px 6px 0px;
	margin: 0px 4px 0px 0px !important;
}
.BTN_MENU_TOP {
	border-radius: 4px;
}
.BTN_SHOW_RIGHT_MENU {
	top: 40px;
	opacity: 0;
	right: 2px;
	width: 130px;
	z-index: 1000;
	display: none;
	filter: blur(20px);
	position: absolute;
	border-radius: 6px;
	transition-duration: 1.1s;
	text-shadow: 1px 1px 2px #0002;
	transition-timing-function: cubic-bezier(0,1,0,1);
}
.BTN_SHOW_RIGHT_MENU:hover {
	filter: blur(0px) opacity(1) !important;
}
.BTN_APP_DRAG {
	color: #eee;
	margin: 0px;
	height: 20px;
	width: 33.33px;
	max-height: 20px;
	font-family: monospace;
	background-image: none;
	background-color: #0000;
}
.BTN_APP_DRAG:hover {
	background-color: #fff3;
	backdrop-filter: blur(10px);
}
.BTN_APP_DRAG:active {
	color: #fff;
	background-image: none;
	box-shadow: 0px 0px 6px #000d inset;
}
.BTN_CLOSE_APP_DRAG:hover {
	background-color: #f00a;
}

/*
	Main divs
*/
.APP_GAME_DATA {
	top: 60px;
	left: 10px;
	z-index: 2;
	opacity: 0;
	width: auto;
	padding: 10px;
	min-width: 190px;
	app-region: drag;
	position: absolute;
	border-radius: 10px;
	transition-duration: 0.2s;
	backdrop-filter: blur(4px);
	background-color: #706099aa;
	text-shadow: 2px 2px 2.8px #000a;
}
.DIV_CHECKBOX {
    display: flex;
    text-align: left;
    align-items: center;
    white-space: nowrap;
    margin: 6px 0px 6px 0px;
    padding: 0px 6px 0px 6px;
    justify-content: flex-start;
}
.DIV_TITLE {
	font-size: 16px;
	text-align: center;
	margin: 6px 0px 2px 0px;
}
.APP_CANVAS {
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	border-radius: 10px;
	background-color: #0000;
	background-image: linear-gradient(180deg, #000019, #002);
}
.APP_MENU {
	z-index: 100;
	overflow: hidden;
	position: absolute;
	filter: blur(20px);
	background-color: #0000;
	transition-duration: 1.1s;
	backdrop-filter: blur(4px);
	transition-timing-function: cubic-bezier(0,1,0,1);
	background-image: linear-gradient(180deg, #706099aa, #3e2e67aa);
}
.MENU_TOP {
	top: 20px;
	left: 0px;
	width: 100%;
	height: 0px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-image: none;
	justify-content: flex-start;
	background-color: #706099aa;
	border-radius: 0px 0px 0px 10px;
}
.MENU_TOP_BG {
	top: 0px;
	left: 0px;
	z-index: 90;
	height: 30px;
	cursor: help;
	display: none;
	position: absolute;
	background-color: #200;
	width: calc(100% - 196px);
}
.MENU_RIGHT {
	top: 20px;
	right: 0px;
	width: 0px;
	overflow: scroll;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	height: calc(100% - 20px);
}
.APP_MAP_CANVAS {
	z-index: 1;
	top: -50000px;
	left: -50000px;
	width: 100000px;
	font-size: 13px;
	height: 100000px;
	overflow: hidden;
	position: absolute;
	border-radius: 100px;
	background-color: #0000;
	transition-duration: 1s;
	box-shadow: 0px 0px 0px 10px #f00 inset;
	transition-timing-function: cubic-bezier(0,1,0,1);
}
.APP_MAP_CANVAS_BG {
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	filter: blur(2px);
	position: absolute;
	background-size: 50px;
	transition-duration: 1s;
	background-repeat: repeat;
	background-image: url('../img/plus.webp');
	transition-timing-function: cubic-bezier(0,1,0,1);
}
.DIV_ROOM {
	width: auto;
	z-index: 10;
	cursor: move;
	height: auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	text-align: center;
	align-items: center;
	flex-direction: row;
	align-content: center;
	font-family: monospace;
	justify-content: center;
	background-color: #0000;
	text-shadow: 1px 1px 2px #000;
	box-shadow: 0px 0px 0px 2px #fff inset;
	background-image: linear-gradient(180deg, #00642f, #0a0);
}
.RT {
	height: 38px;
	display: flex;
	overflow: hidden;
	max-height: 38px;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
	font-family: monospace;
	justify-content: center;
	width: calc(100% - 20px);
	margin: 8px 0px 0px 10px;
	text-shadow: 1px 1px 2px #000;
	box-shadow: 0px 0px 0px 2px #fff inset;
	background-image: linear-gradient(180deg, #00642f, #0a0);
}
.DIV_ICON_PREVIEW_BG_COLOR {
	width: 10px;
	height: 10px;
	margin-top: 2px;
	margin-left: -2px;
	position: absolute;
	border-radius: 100px;
	background-color: #000;
	box-shadow: 1px 1px 2px #0006;
}

/*
	DIV_ROOM Variants
*/
.PLAYER_PRESENT {
	animation-delay: 0s;
	animation-fill-mode: forwards;
	text-shadow: 0px 0px 4px #002d;
	background-image: none !important;
	animation-duration: 4s !important;
	animation-name: PLAYER_PRESENT !important;
	animation-timing-function: linear !important;
	animation-iteration-count: infinite !important;
}
.ROOM_CAN_SAVE {
	background-image: linear-gradient(0deg, #7a66a5, #493c64);
}
.ROOM_ITEM_BOX {
	animation-duration: 2s;
	animation-iteration-count: 1;
	border-radius: 4px 10px 4px 10px;
	animation-name: ITEM_BOX_BORDER_RADIUS;
	animation-timing-function: cubic-bezier(0,1,0,1);
}
.GAME_START {
	border-radius: 14px 0px 0px 14px;
}
.GAME_END {
	animation-duration: 10s;
	animation-name: HUE_CIRCLE;
	text-shadow: 1px 1px 2px #000;
	border-radius: 0px 14px 14px 0px;
	animation-iteration-count: infinite !important;
}
.BIORAND_OBJECTIVE {
	border-radius: 12px !important;
	background-image: linear-gradient(180deg, #005c64, #0094aa);
}

/*
	Map Hint
*/
.DIV_CAM_HINT {
	border-width: 3px;
	position: absolute;
	border-radius: 6px;
	border-style: solid;
	border-color: #0000;
	animation-duration: 3s;
	animation-name: HINT_BLINK;
	background-color: #0000 !important;
	box-shadow: 0px 0px 10px 0px #f006 inset;
	animation-iteration-count: infinite !important;
	border-image: linear-gradient(180deg, #f00, #c00);
	border-image-slice: 1;
}

/*
	Process capture status
*/
.RE3_CAPTURE_ICON {
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background-color: #000;
	margin: 0px 10px 0px 10px;
	box-shadow: 0px 0px 6px #000 inset;
	background-image: linear-gradient(180deg, #000, #333);
}
.RE3_CAPTURE_ICON_ON {
	box-shadow: 0px 0px 6px #0f06;
	background-image: linear-gradient(180deg, #0e0, #090);
}

/*
	SVG
*/
.SVG_CURRENT_FLOW {
	stroke: #0f0;
	stroke-dasharray: 6;
	animation: CONNECTION_FLOW 2s linear;
	filter: drop-shadow(0px 0px 2px #fff9);
	animation-iteration-count: infinite !important;
}

/*
	Labels
*/
.LABEL_appGameData {
	left: 182px;
	cursor: auto;
	position: sticky;
}

/*
	Animations
*/
@keyframes PLAYER_PRESENT {

	0% {
		background-color: #008;
	}

	50% {
		background-color: #00c;
	}

	100% {
		background-color: #008;
	}

}
@keyframes CONNECTION_FLOW {

	100% {
		stroke-dashoffset: -60;
	}

}
@keyframes HUE_CIRCLE {
	0% {
		background-color: #008;
		filter: hue-rotate(0deg);
	}
	50% {
		background-color: #00c;
		filter: hue-rotate(180deg);
	}
	100% {
		background-color: #008;
		filter: hue-rotate(359deg);
	}
}
@keyframes HINT_BLINK {
	0% {
		opacity: 1;
		padding: 0px;
		filter: blur(0px);
		transform: translate(0px, 0px);
	}
	50% {
		padding: 2px;
		opacity: 0.6;
		filter: blur(0.8px);
		transform: translate(-2px, -2px);
	}
	100% {
		opacity: 1;
		padding: 0px;
		filter: blur(0px);
		transform: translate(0px, 0px);
	}
}
@keyframes ITEM_BOX_BORDER_RADIUS {
	0% {
		border-radius: 0px 0px 0px 0px;
	}
	100% {
		border-radius: 4px 10px 4px 10px;
	}
}

/*
	Settings for window sizes
*/
@media only screen and (max-width: 800px){

	.BTN_MENU_TOP, .BTN_LEFT, .BTN_RIGHT, #RE3_CAPTURE_ICON {
		display: none;
	}

	.MENU_TOP {
		justify-content: center;
	}

}

/*
    Color labels
*/
.LBL_COLOR_X {
    color: #baffba;
}
.LBL_COLOR_Y {
    color: #ffc1c1;
}

/*
	Misc.
*/

.none {
	display: none !important;
}
.cursor-pointer {
	cursor: pointer;
}
.center {
	text-align: center;
}
.SEPARATOR_0 {
	height: 2px;
	border-radius: 4px;
	background-color: #0000;
	width: calc(100% - 20px);
	margin: 4px 0px 4px 10px;
	background-image: linear-gradient(90deg, #0000, #fff, #0000);
}